{% extends 'base.html' %}
{% block about %}

  <h1>About the project</h1>
  <div class="container">
    <div class="about-section">
      <h2>Welcome to our Website</h2>
      <p>This website deals with the detection of Abandoned Object.This paper is focused towards developing a computer vision-based approach that analyzes the blob areas to detect any abandoned objects and instantaneously send appropriate alerts without any human intervention. The approach has been tested with various benchmark video datasets and real-time video sequences as well. In this project, we’re going to make an Abandoned object detection system using OpenCV and python. OpenCV is a real-time computer vision and image processing library for python. OpenCV is very popular because it is lightweight and contains more than 2500 image processing algorithms.</p>
      
    </div>
    <div class="about-section">
      <h2>Our Mission</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis lectus sit amet urna cursus, at tempor metus maximus. Integer nec odio sed nisi condimentum lobortis. Donec ultrices felis id fermentum ultrices.</p>
      <p>Nullam gravida eros nunc, id consequat neque condimentum in. Nunc condimentum mi vel ex posuere, vitae lobortis nisl rhoncus.</p>
    </div>
    <div class="about-section">
      <h2>Contact Us</h2>
      <p>If you have any questions or inquiries, feel free to <a href="contact.html">contact us</a>. We would be happy to assist you.</p>
    </div>
  </div>

{% endblock %}

