<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
<body>
    <h2>Login</h2>
    
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <h1 align="center">Login</h1>
        {% if error %}
            <p class="error-message">{{ error }}</p>
        {% endif %}
        <input type="text" id="username" placeholder = "Username" name="username" required><br><br>
        <input type="password" id="password" placeholder = "Password" name="password" required><br><br>
        <input type="submit" value="Login" >
        <p>Don't have an account? <a href="signup">Sign Up</a></p>
    </form>
</body>
</html>
